.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .layout {
    padding-bottom: var(--mobile-nav-offset);
  }
}
