.grid {
  display: none;
  gap: var(--grid-gap-lg);
}

@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.sliderSkeleton {
  width: 100%;
  min-height: 28rem;
  border-radius: var(--radius-md);
}

@media (max-width: 1023px) {
  .sliderSkeleton {
    min-height: 24rem;
  }
}
